
@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
       url('../fonts/gilroyextrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;

}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../fonts/gilroylight-webfont.woff2') format('woff2'),
       url('../fonts/gilroylight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.15px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  vertical-align: center;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration-line: none;
  color: #000000;
  cursor: pointer;
}
ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
/*_____________Начало стилизации блока "Хедер и навигация"______________________*/
header {
  position: relative;
  display: flex;
  width: 1200px;
  min-height: 300px;
  margin: 40px auto 0 auto;
  padding: 0 auto;
}

.header-wrapper {
  display: flex;
  width: 1160px;
  flex-direction: column;
  margin: 0 auto;

  background-color: rgba(240, 197, 46, 0.5);
}
.header-logo {
  position: absolute;
  display: block;
  top: -19px;
  margin-left: 60px;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;   /*Перекрасить SVG*/
}

.header-logo:active {
  opacity: 0.3;
}

.user-nav {
  display: flex;
  width: 1040px;
  margin: 0 auto;
  align-items: baseline;
  padding-top: 35px;
  padding-bottom: 30px;
}



.search-form {
  display: flex;
  min-width: 440px;
  margin-right: 100px;
}

.search {
  width: 355px;
  padding: 8px 0 8px 40px;

  font-family: 'Open Sans', 'Arial', sans-serif;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);

  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

.search:hover {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border-bottom: 2px solid black;
  padding: 8px 0 8px 40px;
}
.search:focus {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  padding: 8px 0 8px 40px;
  outline: transparent;
}

.search-btn {
  font: inherit;
  font-size: 15px;
  width: 85px;
  border: 2px solid black;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  padding: 8px 18px;
}

.search-btn:hover {
  font: inherit;
  font-size: 15px;
  width: 85px;
  color: white;
  border: 2px solid black;
  background-color: #000000;
  box-sizing: border-box;
  padding: 8px 18px;
}

.search-btn:active {
  font: inherit;
  font-size: 15px;
  width: 85px;
  color: rgba(255, 255, 255, 0.3);
  border: 2px solid black;
  background-color: #000000;
  box-sizing: border-box;
  padding: 8px 18px;
}

.header-user-link {
  display: flex;
  width: 500px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.header-user-link a {
  display: inline-flex;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-decoration: none;
  text-transform: none;
  color: black;
}

.header-user-link li:last-of-type {
  padding-left: 23px;
  margin-left: 41px;
  box-sizing: content-box;
}


.header-user-link li:first-of-type {
  padding-left: 27px;
  margin-right: auto;
}
.logout {

  padding-right: 83px;
}
/*.compare {
  margin-left: 205px;
  margin-right: 33px;
}
.cart {
  margin-right: 0;
}*/

.main-menu {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin: auto;
  padding: 0;
}

.menu-item a {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3,6px;
  color: black;
  text-decoration: none;
  font-weight: 800;
}

.catalog {
  min-width: 220px;
  padding-right: 32px;
  margin-right: 290px;
}

.delivery {
  margin-right: 35px;
}

/*.warranty {

}*/

.contacts {
  margin-left: auto;
  margin-right: -0.2em;
}

.catalog-list {
  display: flex;
  justify-content: flex-start;
  width: 1160px;
  min-height: 163px;
  margin: 0;
  padding-top: 20px;
  background-color: #f7e296;
}
.sub-menu {
  position: absolute;
  left: 20px;
  display: none;
}
.catalog:hover .sub-menu {
  display: flex;
  z-index: 5;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 58px;
  white-space: nowrap;
  box-sizing: content-box;
}
.column:first-child {
  margin-left: 60px;
}

.column:last-child {
  padding-right: 0;
  padding-left: 20px;
}
.column a {
  display: block;
  font: inherit;
  line-height: 36px;
  letter-spacing: 0.2px;
  color: #000000;
  text-transform: none;
  white-space: nowrap;
}

.header-user-link a:focus,
.header-user-link a:hover,
.menu-item a:focus,
.menu-item a:hover,
.column a:focus,
.column a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-user-link a:active,
.menu-item a:active,
.column a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*_____________Конец стилизации блока "Хедер и навигация"______________________*/

/*_____________Начало стилизации блока "Промо-слайдер"______________________*/


.promo-container {
  width: 1200px;
  min-height: 400px;
  padding: 0 20px;
  margin: auto;
  position: relative;
  top: -108px;
  overflow: hidden;

}

.slider-control {
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 323px;
  right: 103px;
  z-index: 5;
}
.slider-btn {
  position: relative;
  z-index: 5;
}

.slider-radio-btn {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../img/slider-button-empty.svg");
  background-size: contain;
  margin-right: 21px;
}

.slider-radio-btn:last-of-type {
  margin-right: 0;
}
#slide-1:checked~.slider-control label[for="slide-1"] {
  background-image: url("../img/slider-button.svg");
}

#slide-2:checked~.slider-control label[for="slide-2"] {
  background-image: url("../img/slider-button.svg");
}

#slide-3:checked~.slider-control label[for="slide-3"] {
  background-image: url("../img/slider-button.svg");
}

#slide-1:checked ~ .slider-container {
  transform: translate(0);
}

#slide-2:checked ~ .slider-container {
  transform: translate(-1160px);
}

#slide-3:checked ~ .slider-container {
  transform: translate(-2320px);
}

.slider-container {
  display: flex;
  width: 300%;
  position: relative;
  /*top: -108px;
  overflow: hidden;*/
}
.slide-first,
.slide-second,
.slide-third {
  display: flex;
  width: 100%;
  min-height: 400px;
  justify-content: space-between;
  position: relative;
}

.column-left {
  width: 560px;
}

.promo-monopod {
  position: relative;
  top: -4px;
  right: -90px;
}

.promo-band {
  position: relative;
  top: 13px;
  right: -116px;
}

.promo-drone {
  position: relative;
  top: 65px;
  right: -31px;
}

.column-right {
  position: relative;
  display: flex;
  width: 560px;
  flex-direction: column;
}

.slide-number {
  position: absolute;
  top: -15px;
  right: 47px;

  display: block;
  width: auto;
  height: auto;


  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 179px;
  font-weight: 800;
  line-height: 179px;
  letter-spacing: 1.8px;
  text-align: right;
  color: #ffffff;
}

.column-right p:first-of-type {
  padding-top: 76px;
  margin: 0;

  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #000000;

  z-index: 3;
}

.column-right p:last-of-type {
  padding-top: 18px;
  padding-bottom: 43px;
  margin: 0;

  line-height: 30px;
  letter-spacing: 0.15px;
}

.device-btn::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 20%;
  background-color: #f0c52e;
}

.device-btn {
  position: relative;

  display: inline-block;
  margin-left: 1px;
  width: 220px;
  height: 40px;
  padding: 9px 5px;

  text-align: center;

  background-color: transparent;
}

.device-btn:focus,
.device-btn:hover {
  width: 220px;
  height: 40px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #f0c52e;
}

.device-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-features {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 0;
  padding-top: 34px;
  margin-left: 0;
}

.slider-features li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 78px;
}

.feature-value {
  padding-bottom: 8px;

  font-family: 'Gilroy Light', 'Arial', 'sans-serif';
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.feature-label {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
}


/*_____________Конец стилизации блока "Промо-слайдер"______________________*/

/*_____________Начало стилизации блока "Категории товаров"______________________*/
.products {
  position: relative;
  top: -9px;
  display: flex;
  width: 1200px;
  margin: auto;
  padding: 0 20px;
}



.products-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.product-btn {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-transform: none;
  vertical-align: top;
  color: #000000;
}

.product-btn p {
  white-space: normal;
  width: 160px;
}
.btn-bg {
  width: 160px;
  height: 160px;
  position: relative;
  background-color:rgba(240, 197, 46, 0.5);
  margin-bottom: 34px;
}
.btn-bg:hover {
  background-color: #f0c52e;
}
.btn-bg:active svg {
  opacity: 0.3;
}


.products-item:nth-child(1) svg {
  position: absolute;
  top: 53px;
  left: 31px;

}

.products-item:nth-child(2) svg {
  position: absolute;
  top: 41px;
  left: 38px;
}

.products-item:nth-child(3) svg {
  position: absolute;
  top: 38px;
  left: 49px;
}

.products-item:nth-child(4) svg {
  position: absolute;
  top: 50px;
  left: 28px;
}

.products-item:nth-child(5) svg {
  position: absolute;
  top: 32px;
  left: 55px;
}

.products-item:nth-child(6) svg {
  position: absolute;
  top: 49px;
  left: 13px;
}
/*_____________Конец стилизации блока "Категории товаров"______________________*/

/*_____________Начало стилизации блока сервисы______________________*/

.service-item h2,
.info h2,
.contact-info h2 {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.48px;
  color: #000000;
}

.services {
  display: flex;
  width: 100%;
  padding-top: 53px;
  background-color: #e5e5e5;
  background-image: linear-gradient(white 153px, transparent 153px)
}

.services-container {
  display: flex;
  width: 1200px;
  padding: 0 20px;
  margin: auto;
}
.btn-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 285px;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  border-right: 7px solid black;

}
.service-btn::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 20%;
  background-color: #f0c52e;
}

.service-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  padding: 8px 15px 8px 15px;
  margin-bottom: 24px;
  width: 160px;
  z-index: 0;

  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
}

.service-btn:hover,
.service-btn:focus {
  background-color:  #f0c52e;
}

.services-list {
  display: flex;
  justify-content: flex-start;
  min-width: 875px;
  margin: auto;
  padding: 0;
}

.service-item {
  min-width: 875px;
}

.service-item h2 {
  margin: 0;
  padding-left: 117px;
  padding-top: 74px;
}

.services-delivery,
.service-warranty,
.service-credit {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 388px;
}
.services-delivery p,
.services-warranty p,
.services-credit p {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
}

.services-delivery p {
  display: inline-flex;
  width: 575px;
  margin: 0;
  padding: 30px 0 0 117px;
}
.services-warranty p {
  display: inline-flex;
  width: 553px;
  margin: 0;
  padding: 30px 0 0 117px;
}

.services-credit {
  display: inline-flex;
  width: 542px;
  margin: 0;
  padding: 30px 0 0 117px;
}
/*_____________Конец стилизации блока сервисы______________________*/

/*_____________Блок Партнеры_______________*/


.partners-list {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
  padding-top: 94px;
  padding-bottom: 87px;
  padding-left: 20px;
  padding-right: 20px;
}

.partners-list img {
  filter: grayscale(100%);
  opacity: 0.2;
}

.partners-list img:hover {
  filter: grayscale(0);
  opacity: 1;
}
/*_________Секция "О нас"_______*/
.index-columns {
  display: flex;
  width: 1200px;
  margin: auto;
  padding: 0 20px;
  justify-content: space-between;
}

.info {
  width: 560px;
}
.contact-info {
  width: 560px;
}

.info h2,
.contact-info h2 {
  margin: 0;
  padding-top: 54px;
  padding-bottom: 26px;
}

.info p {
  display: inline-flex;
  width: 485px;

  line-height: 30px;
}

.info-logistics-company {
  margin: 0;
  padding-top: 56px;
  padding-left: 35px;
  padding-bottom: 49px;

  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 16px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #000000;
}

.info-logistics-company li {
  padding-bottom: 10px;
}

.contact-info p {
  display: inline-flex;
  width: 525px;

  line-height: 30px;
}

.map-modal img {
  padding-top: 24px;
  padding-bottom: 63px;
}
.about,
.write-us {
  min-width: 260px;
}
/*_________Секция "Контакты"__________*/


/*___________________________НОВЫЙ ФУТЕР_________________________*/
footer {
  display: flex;
  width: 100%;
  margin-top: 82px;
  justify-content: flex-start;
  background-color: #464646
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer-user-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: inline-flex;
  width: 163px;
  margin: 0;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 24px;
}
.footer-logo:hover {
  opacity: 0.6;
}
.footer-logo:active {
  opacity: 0.3;
}
.footer-user-link {
  display: flex;
  justify-content: flex-start;
  min-width: 476px;
  margin: 0;
  padding-top: 63px;
}

.footer-user-link li {
  padding-right: 63px;
}
.footer-user-link li:first-child {
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.footer-user-link li:last-child {
  padding-right: 0;
}
.footer-user-link a {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-transform: none;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-link a:hover {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-transform: none;
  color: #ffffff;
}

.footer-user-link a:active {
  color: rgba(255, 255, 255, 0.3);
}


.footer-center-block {
  display: flex;
  justify-content: center;
  width: 100%;
}

address {
  display: inline-block;
  width: 203px;
  padding-right: 165px;
  padding-top: 6px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
  vertical-align: top;
  color: #ffffff;
  box-sizing: content-box;
}

.footer-links-list {
  display: flex;
  width: 427px;
  justify-content: space-between;
  margin: 0;
  padding-top: 12px;
}
.footer-links-list a {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3,6px;
  text-decoration: none;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
}

.footer-links-list a:hover {                      /*состояние focus не описано в стайлгайде*/
  color: rgba(255, 255, 255, 0.6);
}

.footer-links-list a:active {
  color: rgba(255, 255, 255, 0.3);
}

.phone-number {
  display: inline-flex;
  margin: 0;
  padding-top: 6px;
  padding-left: 200px;
  justify-content: flex-end;
  width: 165px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: normal;
  text-align: right;
  text-decoration: none;
  text-transform: none;
  color: #ffffff;
  box-sizing: content-box;
}
.footer-bottom-block {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.footer-social {
  display: flex;
  margin: 0;
  width: 140px;
  height: 32px;
  padding-top: 63px;
  padding-left: 510px;
  padding-right: 483px;
  padding-bottom: 61px;
  justify-content: space-between;
  box-sizing: content-box;
}
.footer-social li {
  opacity: 0.3;
}

.footer-social li:hover {
  opacity: 0.6;
}

.footer-social li:active {
  opacity: 0.1;
}
.footer-social li:last-of-type {
  padding-right: 0;
}

.creater-logo {
  display: block;
  width: 28px;
  padding-top: 62px;
}

.creater-logo:hover {
  opacity: 0.6;
}

.creater-logo:active {
  opacity: 0.3;
}
/*_____________Конец стилизации блока Футер______________________*/
/*_____________Начало блока Модальное окно_______________________*/

.modal-letter {
  display: flex;
  justify-content: space-between;
  width: 960px;
  min-height: 553px;

  padding: 0;
  margin: 0 auto;

  box-sizing: border-box;
}

.close-btn {
  margin-left: 883px;
  margin-top: 22px;
  width: 55px;
  height: 55px;
  border: none;
  background-color: transparent;
  background-image: url("../img/modal-close-hover.png");
  opacity: 0.5;

  cursor: pointer;
}

.close-btn:hover {
  opacity: 1;
}

.close-btn:active {
  opacity: 0.3;
}

.column-wraper {
  display: flex;
  width: 760px;
  min-height: 100px;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.modal-left-column {
  display: block;

  width: 380px;
  padding-right: 20px;
  margin: 0;

}

.modal-right-column {
  display: block;
  width: 380px;
  padding-left: 20px;
  margin: 0;
}

.subject {
  display: block;
  width: 760px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;
}
.modal-letter label {
  display: block;

  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.submit-letter {
  margin-left: 90px;
  width: 200px;
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
}
.submit-letter:hover,
.submit-letter:focus {
  width: 200px;
}

.submit-letter:active {
  width: 200px;
}

.modal-letter input {
  width: 360px;
  height: 50px;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  padding: 0 20px;
  color: rgba(70, 70, 70, 0.4);
  background-color: #f2f2f2;
  border: none;
}

.modal-letter input:hover,
.modal-letter textarea:hover {
  background-color: #eaeaea;
}

.modal-letter input:focus,
.modal-letter textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
  outline: none;
  color: #464646;
}

.modal-letter input:invalid {
  background-color: #f6dada;
}

.modal-letter textarea {
  width: 760px;
  height: 156px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  padding: 18px 20px;
  color: rgba(70, 70, 70, 0.4);
  background-color: #f2f2f2;
  border: none;
}



/*__________________________________Конец блока Модальные окна____________________*/


/*__________________________________страница каталога____________________________*/
.catalog-nav {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.catalog-nav h1 {
  padding-left: 61px;

  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 48px;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}
.breadcrumbs {
  display: flex;
  padding: 0;
  padding-left: 60px;
  margin: 0;
  box-sizing: content-box;
}
.breadcrumbs li {
  padding-right: 39px;
}

.breadcrumbs li:last-child {
  padding-right: 0px;
  padding-bottom: 50px;
}
.breadcrumbs a {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
  text-transform: none;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.centring {
  display: flex;
  justify-content: center;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.content-header {
  display: flex;
  flex-direction: flex-start;
  width: 100%;
  background-image: linear-gradient(to right,#dcdcdc 20%,#ebebeb 20%);
}

.filter-header {
  display: flex;
  align-content: center;
  width: 330px;
  min-height: 70px;
  background-color: #dcdcdc;

}
.sorting-header {
  display: flex;
  justify-content: flex-start;
  width: 830px;
  min-height: 70px;
}
.filter-header h2,
.sorting-header h2 {
  margin: 0;
  padding-top: 24px;
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
.filter-header h2 {
  padding-left: 60px;
}

.sorting-header h2 {
  padding-left: 73px;
}

.sorting-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 55px;
  width: 288px;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
}

.sorting-list a {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  text-transform: none;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-list a:active {
  color: rgba(0, 0, 0, 1);
}
.sorting-direction {
  display: flex;
  width: 41px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 231px;
  align-items: center;
  box-sizing: content-box;
}

.up,
.down {
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;

  opacity: 0.3;
  cursor: pointer;
}

.up {
  background-image: url("../img/icon-up-dir.svg");
}
.down {
  background-image: url("../img/icon-down-dir.svg");
}

.up:hover,
.down:hover {
  opacity: 0.6;
}

.up:active,
.down:active {
  opacity: 1;
}
.main-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(to right,#ebebeb 0,#ebebeb 28%,#ffffff 28%,#ffffff 100%)
}
/*______________________________________Колонка Фильров_________________________*/
.center-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.item-filtres {
  padding-left: 60px;
  width: 330px;
  height: 100%;
  background-color: #ebebeb;
  z-index: -3;
}
.item-filtres h3 {
  padding: 0;
  margin: 0;

  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  text-transform: none;
  color: #000000;
}

.item-color li {
  position: relative;
}
.item-color label,
.item-bluetooth label {
  position: relative;
  padding: 0;
  margin: 0;
  padding-left: 40px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.1px;
  text-align: left;
  color: #000000;
  z-index: 2;
}

.filter-btn {
  border: none;
  width: 200px;
  background-color: transparent;
  z-index: 2;
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  vertical-align: center;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration-line: none;
  color: #000000;
  cursor: pointer;
}

.check-box {
  -webkit-appearance: none;
  position: absolute;
}
.check {
  position: absolute;
  bottom: 8px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.check-box:checked+.check {
  background-image: url(../img/checkbox-on.svg);
}
.check-box:hover:checked+.check {
  background-image: url(../img/checkbox-on.svg);
  opacity: 0.6;
}

.check-box:hover+.check {
  background-image: url(../img/checkbox-off.svg);
  opacity: 0.6;
}

.right-column {
  width: 100%;
  background-color: white;
}

/*_______________________________________Колонка Сортировки____________________________*/


/*______________________________________Колонка найденных товаров__________________________*/
.found-item {
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-left: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
}

.item-card {
  position: relative;
  width: 380px;
  min-height: 380px;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.item-card img:hover {
  background-color: #eeeeee;
  opacity: 0.7;
}
.item-card-btn {
  position: absolute;
  top: 180px;
  left: 80px;
  z-index: 1;
}
.to-compare {
  position: absolute;
  top: 220px;
  left: 128px;
  z-index: 1;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0.13px;
  text-align: center;
  text-transform: none;
  color: rgba(0, 0, 0, 0.5);
}

.to-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.item-card h3 {
  display: inline-flex;
  width: 252px;
  padding-top: 12px;
  padding-bottom: 7px;

  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  text-transform: none;
  color: #000000;
}

.item-card-price {
  width: 75px;
  height: 14px;
  font-family: 'Gilroy Light', 'Arial', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-align: right;
  text-transform: none;
  color: #464646;
}

/*_________________________Навигация по результатам поиска____________________________________*/
.nav-wrapper {
  background-color:white;
  padding-top: 10px;
  padding-left: 70px;
  width: 100%;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #ebebeb;
  min-height: 70px;
  padding: 23px 0;
}

.pages {
  display: flex;

  justify-content: flex-start;

  margin: 0;

}

.nav {
  padding-right: 31px;

  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.pages li:last-of-type .nav {
  padding-right: 0;
}
.nav:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav:active{
  color: rgba(0, 0, 0, 1);
}

.nav-btn {
  padding: 25px 30px;

  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-align: left;
  color: rgba(0, 0, 0, 1);

}
.nav-btn:hover {
  color: rgba(0, 0, 0, 1);
  background-color: #d9d9d9;
}

.nav-btn:active{
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.modal-map {
  width: 960px;
  margin: 0 auto;
  min-height: 559px;
  background-image: url("../img/map-modal.jpg")
}
