
@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
       url('../fonts/gilroyextrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../fonts/gilroylight-webfont.woff2') format('woff2'),
       url('../fonts/gilroylight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

html {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  letter-spacing: 0.15px;
  margin: 0px;
  padding: 0px;
  }

a {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration-line: none;
  color: #000000;
  cursor: pointer;
}

li {
  list-style: none;
}

/*_____________Начало стилизации блока "Хедер и навигация"______________________*/
header {
  width: 1160px;
  min-height: 300px;
  background-color: rgba(240, 197, 46, 0.5);
  position: relative;
  margin: auto;
  margin-top: 40px;
}

.header-logo {
  position: absolute;
  display: block;
  top: -19px;
  margin-left: 60px;
}

.user-nav {
  width: 1040px;
  margin: auto;
  display: flex;
  align-items: baseline;
  padding-top: 34px;
  padding-bottom: 33px;
}

.header-user-link {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.search-form {
  display: flex;
  min-width: 440px;
  margin-right: 100px;
}

.header-logo:hover,
.header-logo:focus {
  color: rgba(0, 0, 0, 0.6);   /*Перекрасить SVG*/
}

.search {
  width: 355px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  box-sizing: border-box;
  padding: 8px 0 8px 40px;
}

.search:hover {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border-bottom: 2px solid black;
  padding: 8px 0 8px 40px;
}
.search:focus {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  padding: 8px 0 8px 40px;
  outline: transparent;
}

.search-btn {
  font: inherit;
  font-size: 15px;
  width: 85px;
  border: 2px solid black;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  padding: 8px 18px;
}

.search-btn:hover {
  font: inherit;
  font-size: 15px;
  width: 85px;
  color: white;
  border: 2px solid black;
  background-color: #000000;
  box-sizing: border-box;
  padding: 8px 18px;
}

.search-btn:active {
  font: inherit;
  font-size: 15px;
  width: 85px;
  color: rgba(255, 255, 255, 0.3);
  border: 2px solid black;
  background-color: #000000;
  box-sizing: border-box;
  padding: 8px 18px;
}

.header-user-link a {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-decoration: none;
  text-transform: none;
  color: black;
  padding-left: 30px;
}
.compare {
  margin-left: 205px;
  margin-right: 33px;
}
.cart {
  margin-right: 0;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin: auto;
  padding: 0;
}

.menu-item a {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3,6px;
  color: black;
  text-decoration: none;
  font-weight: 800;
}

.catalog {
  min-width: 220px;
  padding-right: 32px;
  margin-right: 290px;
}

.delivery {
  margin-right: 35px;
}

/*.warranty {

}*/

.contacts {
  margin-left: auto;
  margin-right: -0.2em;
}

.catalog-item a {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.2px;
  color: #000000;
  text-transform: none;
}

.header-user-link a:focus,
.header-user-link a:hover,
.menu-item a:focus,
.menu-item a:hover,
.catalog-item a:focus,
.catalog-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-user-link a:active,
.menu-item a:active,
.catalog-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*_____________Конец стилизации блока "Хедер и навигация"______________________*/

/*_____________Начало стилизации блока "Промо-слайдер"______________________*/
.slide-first p:first-of-type,
.slide-second p:first-of-type,
.slide-third p:first-of-type  {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.5px;
  color: #000000;
}

.slide-number {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 179px;
  font-weight: 800;
  line-height: 179px;
  letter-spacing: 1.8px;
  text-align: right;
  color: #ffffff;
  background-color: rgba(240, 197, 46, 0.5); /*-----Временно, что бы не потерялся на белом фоне-----*/
}

.feature-value {
  font-family: 'Gilroy Light', 'Arial', 'sans-serif';
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.feature-label {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
}

.device-btn {
  min-width: 220px;
  min-height: 40px;
  position: relative;
  padding: 9px 5px;
  background-color: transparent;
}

.device-btn::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 20%;
  background-color: #f0c52e;
}

.device-btn:focus,
.device-btn:hover {
  width: 220px;
  height: 40px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #f0c52e;
}

.device-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.promo-container {
  width: 1160px;
  /*overfolw: hidden;*/
}

.slider-container {
  width: 300%;
}

.slider-container section {
  float: left;
  min-height: 980px; /*Временно что бы категории не наезжали*/
}

/*_____________Конец стилизации блока "Промо-слайдер"______________________*/

/*_____________Начало стилизации блока "Категории товаров"______________________*/
.products {
  display: flex;
  width: 1160px;
  margin: auto;
}

.products h2 {
  display: none;
}

.products-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.product-btn {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-transform: none;
  color: #000000;
}

.product-btn p {
  white-space: normal;
  width: 160px;
}
.btn-bg {
  width: 160px;
  height: 160px;
  position: relative;
  background-color:rgba(240, 197, 46, 0.5);
  margin-bottom: 36px;
}
.btn-bg:hover {
  background-color: #f0c52e;
}

.btn-bg svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
/*_____________Конец стилизации блока "Категории товаров"______________________*/

/*_____________Начало стилизации блока сервисы______________________*/

.service-item h2,
.info h2,
.contact-info h2 {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.48px;
  color: #000000;
}

.services {
  display: flex;
  width: 100%;
  background-color: #e5e5e5;
}
.services h2 {
  display: none;
}
.services-container {
  display: flex;
  width: 1160px;
  margin: auto;
}
.services-btn {
  width: 285px;
  padding: 0;
}
.services-list {
  width: 875px;
  margin: auto;
  padding: 0;
}
/*_____________Конец стилизации блока сервисы______________________*/

/*_____________Блок Партнеры_______________*/
.partners h2 {
  display: none;
}

.partners-list {
  display: flex;
  width: 1160px;
  margin: auto;
  padding-left: 0;
  padding-top: 94px;
  padding-left: 93px;
}

/*_________Секция "О нас"_______*/
.index-columns {
  display: flex;
  width: 1160px;
  margin: auto;
  justify-content: space-between;
}

.info {
  width: 560px;
}
.contact-info {
  width: 560px;
}
.info-logistics-company {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 15px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #000000;
}

/*_________Секция "Контакты"__________*/

/*_____________Начало стилизации блока Футер______________________*/
footer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  background-color: #464646
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: auto;
}
.footer-left {
  width: 367px;
}

.footer-center {
  min-width: 423px;
}

.footer-right {
  width: 370px;

}
address {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer-links-list a {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3,6px;
  text-decoration: none;
  font-weight: 800;
  color: #ffffff;
}

.footer-links-list a:hover {                      /*состояние focus не описано в стайлгайде*/
  color: rgba(255, 255, 255, 0.6);
}

.footer-links-list a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-link a {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-transform: none;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-link a:hover {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-transform: none;
  color: #ffffff;
}

.footer-user-link a:active {
  color: rgba(255, 255, 255, 0.3);
}

.phone-number {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: normal;
  text-align: right;
  text-decoration: none;
  text-transform: none;
  color: #ffffff;
}
/*_____________Конец стилизации блока Футер______________________*/
/*_____________Начало блока Модальное окно_______________________*/
.modal label {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.submit-letter {
  width: 200px;
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
}

.modal input {
  width: 320px;
  height: 50px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  padding: 0 20px;
  color: rgba(70, 70, 70, 0.4);
  background-color: #f2f2f2;
  border: none;
}

.modal input:hover {
  background-color: #eaeaea;
  border: none;
}

.modal input:focus {
  width: 320px;
  height: 44px;
  padding: 0 17px;
  background-color: #ffffff;
  border: 3px solid #f0c52e;
  color: #464646;
}

.modal input:invalid {
  background-color: #f6dada;
}

.modal textarea {
  width: 760px;
  height: 156px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  padding: 18px 20px;
  color: rgba(70, 70, 70, 0.4);
  background-color: #f2f2f2;
  border: none;
}
.close-btn {
  width: 55px;
  height: 55px;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.close-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url('../img/modal-close.png') no-repeat;
}

.close-btn::before:hover {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url('../img/modal-close-hover.png') no-repeat;
}
/*__________________________________Конец блока Модальные окна____________________*/


/*__________________________________страница каталога____________________________*/
.catalog-nav h1 {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 48px;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.breadcrumbs a {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0.14px;
  text-align: left;
  text-transform: none;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}
/*______________________________________Колонка Фильров_________________________*/

.item-filtres {
  width: 328px;
  background-color: #ebebeb;
  float: left;                      /*________Убрать float_______*/
}

.item-filtres h2,
.catalog-sorting h2 {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}
/*_______________________________________Колонка Сортировки____________________________*/
.catalog-sorting,
.sorting-list {
  width: 832px;
  background-color: #ebebeb;
}

.sorting-list a {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  text-transform: none;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.sorting-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-list a:active {
  color: rgba(0, 0, 0, 1);
}
/*______________________________________Колонка найденных товаров__________________________*/

.to-compare {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0.13px;
  text-align: center;
  text-transform: none;
  color: rgba(0, 0, 0, 0.5);
}

.to-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.item-card h3 {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  text-transform: none;
  color: #000000;
}

.item-card-price {
  width: 75px;
  height: 14px;
  font-family: 'Gilroy Light', 'Arial', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-align: right;
  text-transform: none;
  color: #464646;
}

/*_________________________Навигация по результатам поиска____________________________________*/

.nav-list {
  background-color: #ebebeb;
}

.nav-list a {
  font-family: 'Gilroy ExtraBold', 'Arial', 'sans-serif';
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-align: left;
  padding: 30px 37px 27px 30px;
  color: rgba(0, 0, 0, 0.3);
  float: left;

}
.nav-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-list a:active{
  color: rgba(0, 0, 0, 1);
}

.nav-btn:hover {
  color: rgba(0, 0, 0, 1);
  background-color: #d9d9d9;
  padding: 30px 37px 27px 30px;


}

.nav-btn:active{
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}
